@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
    var i = 0;
}
<h4>Recent Matches</h4>
@foreach (var match in ViewBag.MatchHistory.Results)
{   
    var matchResult = "Loss";   
    @foreach (var team in match.Teams)
    {
        if (team.Rank == "1" && team.Id == match.Players[0].TeamId)
        {
            matchResult = "Win";
            break;
        }
    }

    <div class="match">
       <h4><a href="#" id="match-@i">@match.Playlist.name -- @matchResult </a></h4>
        <h5>@match.GameBaseVariant on @match.MapVariant.Name -- @match.MatchCompletedDate.ISO8601Date</h5>
    </div>

        <script>
            $("#match-@i").click(function () {
                $("#matchEvents").html("<h3>Loading medals...</h3>");
                $.ajax({
                    type: "POST",
                    url: '/MatchEvents/GetMatchEvents/',
                    data: {"MatchId": "@match.Id.MatchId", "GamerTag": "@match.Players[0].Player.Gamertag" },
                    datatype: 'html',
                    success: function (response) {
                        $("#matchEvents").html(response);
                    }
                });
            })
        </script>
    i++;
}