@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
    var i = 0;
}
<h3>Recent Matches</h3>
@foreach (var match in ViewBag.MatchHistory.Results)
{
    var matchResult = "";
    if (match.Players[0].Result == "0")
    {
        matchResult = "Did Not Finish";
    }
    else if (match.Players[0].Result == "1")
    {
        matchResult = "Loss";
    }
    else if (match.Players[0].Result == "2")
    {
        matchResult = "Tie";
    }
    else if (match.Players[0].Result == "3")
    {
        matchResult = "Win";
    }
    else
    {
        matchResult = "Result Unknown";
    }

    <div class="match">
       <h4><a href="#" id="match-@i">@match.Playlist.name -- @matchResult</a></h4>
        <h5>@match.GameBaseVariant on @match.MapVariant.Name</h5>
        <h5> -- @match.MatchCompletedDate.ISO8601Date</h5>
    </div>

        <script>
            $("#match-@i").click(function () {
                $("#matchEvents").html("<h3>Loading medals...</h3>");
                $.ajax({
                    type: "POST",
                    url: '/MatchResults/SetCurrentMatch/', 
                    data: {"MatchId": "@match.Id.MatchId", "GameMode": "@match.Id.GameMode" },
                    datatype: 'html',
                    success: function (response) {
                        $("#matchResults").html(response);
                    }
                });
            })
        </script>
    i++;
}